@use 'sass:color';
@import "@styles/abstracts/colors";

.grounded {
    padding: 3em 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    height: 100%;
}

header {
    width: 100%;
    max-width: 1600px;
    font-size: 2.5em;
    font-weight: 800;
}

.content {
    width: 100%;
    max-width: 1600px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-grid {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(color.adjust(color("grounded-primary"), $lightness: -35%), 0.9);
    border-radius: 1em;
    backdrop-filter: blur(5px);
}

.alphabet-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  button {
    padding: 6px 10px;
    cursor: pointer;
    border: none;
    border-radius: 20%;
    background: #222;
    color: white;
  }

  button.active {
    background: color('grounded-primary');
  }
}